<div class="container wrapper">
  <div class="logo">
    <img src="https://previews.123rf.com/images/olgastrelnikova/olgastrelnikova1901/olgastrelnikova190100001/115903194-food-icon-with-smile-label-for-food-company-grocery-store-icon-vector-illustration-with-smiling-mout.jpg" >
  </div>
<div class="text-center mt-4 name">
  FooDApp
</div>
<h3 class="text-center mt-4 name">Customer Details</h3>
    
    <form #addData="ngForm" (ngSubmit)="addBranch(addData)" class="pt-3 mt-3">
        <div class="form-field d-flex align-items-center">
          <input type="text" 
          ngModel 
          id="branchName"
          name="branchName"
          #branchName="ngModel" 
          placeholder="Enter the Branch Name">
        </div>
        <div class="form-field d-flex align-items-center">
            <input type="text" 
            ngModel 
            id="branchAddress"
            name="branchAddress"
            #branchAddress="ngModel" 
            placeholder="Enter the Branch Address">
        </div>
        <div class="form-field d-flex align-items-center">
            <input type="text" 
            ngModel 
            id="branchPhone"
            name="branchPhone"
            #branchPhone="ngModel" 
            placeholder="Enter the Branch Phone">
          </div>
          <div class="form-field d-flex align-items-center">
            <input type="text" 
            ngModel 
            id="branchEmail"
            name="branchEmail"
            #branchEmail="ngModel" 
            placeholder="Enter the Branch Email ">
          </div>
          
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    
    </div>